<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>

   
    <app-SecureHeader></app-SecureHeader>
    <app-Left-Sidebar></app-Left-Sidebar>
    <div class="dash-right-part" id="dashRightPart" style="overflow-y: unset !important;">
      <div class="right-main-wrapper">
        <div class="content-area">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
 
  <ng4-loading-spinner> </ng4-loading-spinner>
</body>
</html>
