<div class="culmn rojgaar showIt" id="view3">
  <app-PublicHeader></app-PublicHeader>


  <div class="clearfix"></div>
  <div class="privacy-policy">
    <div class="container">
      <h6 class="privacy-head">Privacy Policy</h6>

      <p>Rojgaar.in knows that you care how information about you is used and shared and we appreciate your trust in us to do that carefully and sensibly. By visiting Rojgaar.in, you are accepting and consenting to the practices described in this Privacy Policy.</p>

      <p>Rojgaar is a wholly owned product developed by Hard Shell Technologies PVT. LTD. Rojgaar respects the privacy of its users and is committed to protect it in all respects.</p>

      <h6 class="privacy-head">Controllers of Personal Information</h6>

      <p>Any personal information provided to or gathered by Rojgaar under this Privacy Policy will be stored and controlled by AWS, India.</p>

      <p>Rojgaar collects information about you and uses this information to help you connect with job seekers and to avail with you other services to you. This privacy policy describes how your personal information is collected, used, shared, and secured, as well as your choices regarding use, access, and correction of your personal information.</p>

      <h6 class="privacy-head">Scope of this Privacy Policy</h6>

      <p>This privacy policy applies to information Rojgaar collects or use on sites and applications owned or controlled by Rojgaar or its developer company Hard Shell Technologies pvt. ltd. </p>

      <h6 class="privacy-head">Information We Collect</h6>

      <p>Rojgaar collect information about you when you are actively using Rojgaar. We collect information directly from you such as your contact information, company profile and profile information and all other information that your provide while posting jobs or scheduling interview or when you use any other feature provided to you on the dashboard and menu section.</p>

      <p>We also collect information about you automatically such as how you use and interact with Rojgaar, your demographic information, and information about your computer or mobile device.</p>

      <p>We also use this information to improve our platform, prevent or detect fraud or abuses of our website and enable third parties to carry out technical, logistical or other functions on our behalf. Here are the types of information we gather.</p>

      <p>Information You Give Us: We receive and store any information you enter on our website or give us in any other way. You can choose not to provide certain information but then you might not be able to take advantage of many of our features.</p>

      <p>We use the information that you provide for such purposes as responding to your requests, customizing future searches of candidate, training centre, and predictive search for you. Improving and customizing Job posting, walk-in, receive application, interview and offers, upload document, job posted, agency, yuva sandesh and screening questions improving our platform, and communicating with you.</p>

      <p>Automatic Information: We receive and store certain types of information whenever you interact with us. For example, like many websites, we use "cookies" and we obtain certain types of information when your web browser accesses Rojgaar or advertisements and other content served by or on behalf of Rojgaar on other Web sites. We may also receive/store information about your location and your mobile device, including a unique identifier for your device. We may use this information for internal analysis and to provide you with location-based services, such as advertising, search results, and other personalized content.</p>

      <p>E-mail Communications: To help us make e-mails more useful and interesting, we often receive a confirmation when you open e-mail from Rojgaar if your computer supports such capabilities. We also compare our customer list to lists received from other companies in an effort to avoid sending unnecessary messages to our customers. These email communications or SMS alerts are solely for the purpose of your benefits and updating you with new developments that may affect your growth and choice.</p>

      <p>Information from Other Sources: We might receive information about you from other sources and add it to our account information.</p>

      <p>Your usage. We collect information about how you use our Products, such as the types of content that you view or engage with, the features you use, the actions you take, and the time, frequency and duration of your activities.</p>

      <p>We may collect or use information about you from publicly-available websites whether or not you have an account with us. You will have the opportunity to claim or request removal of the information. However we cannot guarantee that we will not later collect from publicly-available websites other information that pertains to you.</p>

      <p>We may also acquire information about you from third parties to further personalize and enhance your experience.</p>

      <h6 class="privacy-head">How We Use Information</h6>

      <p>We use the information we collect about you to deliver the products and services we offer, respond to you, and operate and improve our sites and applications. Our services include showing you personalized and public content and advertising on Rojgaar both mobile and app and website or other sites with which we have a business relationship. We may use your information to contact you about Rojgaar updates, conduct surveys, or to provide informational and service-related communications, including important security updates.</p>

      <p>Information you share in public areas of Rojgaar or make visible while using certain functionalities and profile database may be accessed, used, and stored by others around the world. We strive to provide a safe environment by attempting to limit access to our database to legitimate users, but we cannot guarantee that unauthorized parties will not gain access. We also cannot control how authorized users store or transfer information you give to us, so you should not post sensitive information to Rojgaar website, dashboard or mobile application.</p>

      <h6 class="privacy-head">Does Rojgaar share the information it receives?</h6>

      <p>Information about our customers is an important part of our business and we are not in the business of selling it to others. Rojgaar shares customer information only as described below and with Hard Shell Technologies Pvt Ltd. (HSTPL) and the subsidiaries which HSTPL controls and that are either subject to this Privacy Policy or follow practices at least as protective as those described in this Privacy Policy.</p>

      <p>Public information can be seen by anyone, on or off our Products, including if they don't have an account. This includes your username, company profile and job postings any information you share with a public audience. You, other people using Rojgaar will see your pubic information shared and we can provide access to or send public information to anyone on or off our Products, including in other group company products, in search results or through tools and APIs. Public information can also be seen, accessed, reshared or downloaded through third-party services such as search engines, APIs and offline media such as TV, and by apps, websites and other services that integrate with our Products.</p>

      <p>Apps, websites and third-party integrations on or using our Products: When you choose to use third-party apps, websites or other services that use, or are integrated with, our Products, they can receive information about what you post or share. </p>

      <p>Devices and operating systems providing native versions of Rojgaar (i.e. where we have not developed our own first-party apps) will have access to all Job posting and company profile that others share or reshare about you: You should consider what information you want to share, because people who can see your activity on our Products can choose to share it with others on and off our Products, including people and businesses outside the audience that you shared with. . If you are uncomfortable with what others have shared about you on our Products, you can report the content</p>

      <p>Affiliated Businesses We Do Not Control: We work closely with affiliated businesses. In some cases, these businesses may provide you candidates to you on Rojgaar.com. In other cases, we provide services jointly with or on behalf of these businesses. You can tell when a third party is involved in your transactions and we share customer information related to those transactions with that third party.</p>

      <p>Third Party Service Providers: We employ other companies and individuals to perform functions on our behalf or are engaged on behalf of the Government. Examples include sending postal mail and e-mail, removing repetitive information from customer lists, analysing data, providing candidate offering assistance, providing participation in yuva sandesh, providing search results and links (including paid listings and links), and providing customer service. They have access to personal information needed to perform their functions, but may not use it for other purposes. Further, they must process the personal information in accordance with this Privacy Policy and as permitted by applicable law.</p>

      <p>Promotional Offers: Sometimes we send offers to selected groups of Rojgaar.in customers on behalf of other businesses. When we do this, we do not give that business your name and address. If you do not want to receive such offers, please adjust your Customer Communication Preferences.</p>

      <p>Partners who use our analytics services: We provide aggregated statistics and insights that help people and businesses understand how people are engaging with their posts, and other features on and off Rojgaar.in </p>

      <p>Advertisers: We provide advertisers with reports about the kinds of people seeing their ads and how their ads are performing, but we don't share information that personally identifies you (information such as your name or email address that by itself can be used to contact you or identifies who you are) unless you give us permission. We also confirm which Rojgaar ads led you to make a purchase or take an action with an advertiser.</p>

      <p>Measurement partners: We share information about you with companies that aggregate it to provide analytics and measurement reports to our partners.</p>

      <p>Partners offering goods and services in our Products: When you subscribe to receive premium content, or buy something within our Products, the seller can receive your public information and other information that you share with them, as well as the information needed to complete the transaction, including shipping and contact details.</p>

      <p>Vendors and service providers: We provide information and content to vendors and service providers who support our business, such as by providing technical infrastructure services, analysing how our Products are used, providing customer service, facilitating payments or conducting surveys.</p>

      <p>Researchers and academics: We also provide information and content to research partners and academics to conduct research that advances scholarship and innovation that supports our business or mission and enhances discovery and innovation on topics of general social welfare, technological advancement, public interest, health and well-being.</p>

      <p>Law enforcement or legal requests: We share information with law enforcement or in response to legal requests in the circumstances.</p>

      <p>Business Transfers: As we continue to develop our business, we might sell or buy business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Policy (unless, of course, the customer consents otherwise). Also, in the unlikely event that HSTPL or substantially all of its assets are acquired, customer information will of course be one of the transferred assets.</p>

      <p>Protection of Rojgaar.in and Others: We release account and other personal information when we believe release is appropriate to comply with applicable law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property or safety of Rojgaar.in, our users or others. This includes exchanging information with other companies, organizations, government or regulatory authorities for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing or otherwise disclosing personally identifiable information from customers for commercial purposes in a way that is contrary to the commitments made in this Privacy Policy</p>

      <p>With your consent: Other than as set out above, you will receive policy when information about you might go to third parties and you will have an opportunity to choose not to share the information.</p>

      <h6 class="privacy-head">Device information</h6>

      <p>As described below, we collect information from and about the computers, phones, connected TVs and other web-connected devices you use that integrate with our Products, and we combine this information across different devices that you use. For example, we use information collected about your use of our Products on your phone to better personalise the content (including ads) or features that you see when you use our Products on another device, such as your laptop or tablet, or to measure whether you took an action in response to an ad that we showed you on your phone on a different device.</p>

      <h6 class="privacy-head">Information that we obtain from these devices includes:</h6>

      <p>Device attributes: information such as the operating system, hardware and software versions, battery level, signal strength, available storage space, browser type, app and file names and types, and plugins.</p>

      <p>Device operations: information about operations and behaviours performed on the device, such as whether a window is foregrounded or backgrounded, or mouse movements (which can help distinguish humans from bots).</p>

      <p>Identifiers: unique identifiers, device IDs and other identifiers, such as from games, apps or accounts that you use, and Family Device IDs</p>

      <p>Device signals: Bluetooth signals, information about nearby Wi-Fi access points, beacons and mobile phone masts.</p>

      <p>Data from device settings: information that you allow us to receive through device settings that you turn on, such as access to your GPS location, camera or photos.</p>

      <p>Network and connections: information such as the name of your mobile operator or ISP, language, time zone, mobile phone number, IP address, connection speed and, in some cases, information about other devices that are nearby or on your network.</p>

      <h6 class="privacy-head">What about third-party advertisers and links to other web sites?</h6>

      <p>Our site includes third-party advertising and links to other Web sites. Third party advertising on Rojgaar.in, including personalised or interest-based ads, and you will be provided opportunity to define your choice.</p>

      <h6 class="privacy-head">What information can i access?</h6>

      <p>Rojgaar.in gives you access to a broad range of information about your account and your interactions with Rojgaar.in for the limited purpose of viewing and, in certain cases, updating that information. This list will change as our website evolves.</p>

      <h6 class="privacy-head">How do we respond to legal requests or prevent harm?</h6>

      <p>We access, preserve and share your information with regulators, law enforcement or others:</p>

      <p>In response to a legal request (e.g. a search warrant, court order or subpoena) if we have a good-faith belief that the law requires us to do so. This may include responding to legal requests from jurisdictions outside of India when we have a good-faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction and is consistent with internationally recognised standards.</p>

      <p>When we have a good-faith belief that it is necessary to: detect, prevent and address fraud, unauthorised use of the Products, violations of our Terms or Policies, or other harmful or illegal activity; to protect ourselves (including our rights, property or Products), you or others, including as part of investigations or regulatory enquiries; or to prevent death or imminent bodily harm. For example, if relevant, we exchange information with third-party partners about the reliability of your account to prevent fraud, abuse and other harmful activity on and off our Products.</p>

      <p>Information that we receive about you (including financial transaction data related to purchases made with Rojgaar) can be accessed and preserved for an extended period when it is the subject of a legal request or obligation, governmental investigation or investigations of possible violations of our Terms or Policies, or otherwise to prevent harm. We also retain information from accounts disabled for term violations for at least a year to prevent repeat abuse or other term violations.</p>

      <h6 class="privacy-head">What choices do I have?</h6>

      <p>As discussed above, you can always choose not to provide information, even though it might be needed to take advantage of such Rojgaar.in features as your user Profile, company profile candidate search, helpdesk and other relevant searches </p>

      <p>You can add or update certain information on pages such as those referenced in the Which Information Can I Access? section. When you update information, we usually keep a copy of the previous version for our records. If you do not want to receive e-mail or other mail from us, please let us know. If you do not want to receive e-mail or other mail from us, please let us know. (If you do not want to receive Conditions of Use and other legal policies from us, such as this Privacy Policy, those policies will still govern your use of Rojgaar.in, and it is your responsibility to review them for changes.)</p>

      <p>If you do not want us to use personal information that we gather to personalise advertisements we display to you, please let us know.</p>

      <p>The Help menu on the menu bar of most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie and how to disable cookies altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the website of its manufacturer.</p>

      <p>However, because cookies allow you to take advantage of some of Rojgaar's essential features, we recommend that you leave them turned on. For instance, if you block or otherwise reject our cookies, you will not be able to use any Rojgaar’s products and services that require you to Sign in.</p>

      <h6 class="privacy-head">Policies and Revisions</h6>

      <p>If you have any concern about privacy or grievances at Rojgaar, please contact us with a thorough description and we will try to resolve the issue for you.</p>

      <p>Our business changes constantly and our Privacy Policy and the Conditions of Use will change also. We may e-mail periodic reminders of our policies and conditions, unless you have instructed us not to, but you should check our website frequently to see recent changes.</p>

      <p>Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>

      <p>If you have any concerns or questions in relation to this Privacy Policy, you may address them to our grievance officer at: <a href="mailto:info@hstpl.com"><b>info@hstpl.com</b></a></p>

    </div>
  </div>

  <app-PublicFooter></app-PublicFooter>
</div>

<ng-template #subcription>
  <div class="modal-content">
    <input autocomplete="off" id="checkLogintype" type="hidden">
    <div class="modal-body">
      <div class="login-table">
        <div class="login-left-wrapper">
          <div class="message-wrapper">
            <p> <i aria-hidden="true" class="fa fa-quote-left"></i> Your subscribe is very important to us. We appreciate your subscribe and will use it to evaluate changes and make improvements in our site.<i aria-hidden="true" class="fa fa-quote-right"></i></p>
          </div>
        </div>
        <div class="login-right-wrapper">
          <div class="feedback-form">
            <button class="close" aria-label="Close" (click)="subcripclose()" type="button">×</button>
            <h4 class="modal-title">subscribe</h4>
            <form #JobForms [formGroup]="subcripForm" class="feedback-wrapper">
              <div class="form-group">
                <!-- <input type="text" class="form-control" formControlName="name" placeholder="Name *" oninput="this.value = this.value.replace(/[!@#$%\^&*()+=\-\[\]\\';,/{}|\\':<>\?'0-9']/g, '').replace(/(\..*)\./g, '$1');" /> -->
                <input type="text" class="form-control" formControlName="name" placeholder="Name *" required (keypress)="removeSpecialnamechar($event)" maxlength="50">
                <errors [control]="subcripForm.controls.name"></errors>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="email" (change)="CheckEmailSub($event)" placeholder="Email ID *" (keypress)="removeSpecialemailchar($event)" maxlength="50" />
                <errors [control]="subcripForm.controls.email"></errors>
              </div>
              <div class="form-group">
                <input placeholder="Mobile No. *" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" class="form-control" formControlName="mobile" (change)="CheckMobileSub($event)" />
                <errors [control]="subcripForm.controls.mobile"></errors>
              </div>
              <div class="form-group" tabindex="0">
                <ng-multiselect-dropdown [placeholder]="' Select Industry *'"
                                         [data]="IndustryArea"
                                         formControlName="industry"
                                         [settings]="dropdownSettings"
                                         (onDeSelect)="onItemDeSelect($event)"
                                         (onSelect)="onItemSelect($event)"
                                         (onSelectAll)="onSelectAll($event)"
                                         (onDeSelectAll)="onDeSelectAll($event)">
                </ng-multiselect-dropdown>
                <errors [control]="subcripForm.controls.industry"></errors>
              </div>
              <div class="form-group" tabindex="0">
                <ng-multiselect-dropdown [placeholder]="' Select Functional Area *'"
                                         [data]="FunctionArea"
                                         formControlName="functionalarea"
                                         [settings]="dropdownSettings2"
                                         (onDeSelect)="FunctionalonItemDeSelect($event)"
                                         (onSelect)="FunctionalonItemSelect($event)"
                                         (onSelectAll)="FunctionalonSelectAll($event)"
                                         (onDeSelectAll)="FunctionalononDeSelectAll($event)">
                </ng-multiselect-dropdown>
                <errors [control]="subcripForm.controls.functionalarea"></errors>
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="zones" (change)="GetAllRegion($event.target.value)">
                  <option value="" class="" selected="selected">-- Select Zones --</option>
                  <option *ngFor="let zone of zoneList" [value]="zone.id">{{zone.zoneName}}</option>
                </select>
                <errors [control]="subcripForm.controls.zones"></errors>
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="regional" (change)="GetAllSubRegion($event.target.value)">
                  <option value="" class="" selected="selected">-- Select Regional --</option>
                  <option *ngFor="let reg of AllRegion" [value]="reg.id">{{reg.regionname}}</option>
                </select>
                <errors [control]="subcripForm.controls.regional"></errors>
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="subregional">
                  <option value="" class="" selected="selected">-- Select Sub Regional --</option>
                  <option *ngFor="let subreg of SubAllRegion" [value]="subreg.id">{{subreg.subRegionName}}</option>
                </select>
                <errors [control]="subcripForm.controls.subregional"></errors>
              </div>

              <div class="form-group">
                <select class="form-control" formControlName="employer">
                  <option value="" class="" selected="selected">-- Select Employer --</option>
                  <option *ngFor="let emp of Getallemployer" [value]="emp.companyId">{{emp.companyName}}</option>
                </select>
                <errors [control]="subcripForm.controls.employer"></errors>
              </div>
              <div class="form-group">
                <re-captcha #invisible (resolved)="resolved($event)" formControlName="captcha" siteKey="6Lf8A2cUAAAAAGgMF0eRboCS0VrzTzjNw86jimjP"></re-captcha>
              </div>
              <div class="form-group text-center m-t-10">
                <button class="btn btn-w-shadow no-rd" (click)=subcripsubmit() tabindex="0" type="submit" [disabled]="!(subcripForm.valid && this.checkmobvalsuscribe==true)">Submit</button>
                <button type="button" class="btn btn-w-shadow no-rd m-l-10" aria-label="Close" (click)="subcripclose();">
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #template>
  <div class="modal-content">
    <input autocomplete="off" id="checkLogintype" type="hidden">
    <div class="modal-body">
      <div class="login-table">
        <div class="login-left-wrapper">
          <div class="message-wrapper">
            <p> <i aria-hidden="true" class="fa fa-quote-left"></i> Your feedback is very important to us. We appreciate your feedback and will use it to evaluate changes and make improvements in our site.<i aria-hidden="true" class="fa fa-quote-right"></i></p>
          </div>
        </div>
        <div class="login-right-wrapper">
          <div class="feedback-form">
            <button class="close" aria-label="Close" (click)="closeFeedback()" type="button">×</button>
            <h4 class="modal-title">Feedback</h4>
            <form #JobForms [formGroup]="feedbackForm" class="feedback-wrapper">
              <div class="form-group">
                <label>Company Type <span style="color:red;"> *</span></label>
                <div class="clearfix"></div>
                <label class="fnt-normal m-b-0"><input type="radio" id="myTextId" name="usertype" formControlName="usertype" value="Employer" checked> Company Recruiter, HR Professional </label>
                <div class="clearfix"></div>
                <label class="fnt-normal"><input type="radio" id="myTextId" name="usertype" formControlName="usertype" value="Agency"> Recruitment/Placement Consultant	</label>
              </div>
              <div class="form-group">
                <input type="text" required class="form-control" id="myTextId" formControlName="name" placeholder="Name *" (keypress)="removeSpecialnamechar($event)" maxlength="200" />
                <errors [control]="feedbackForm.controls.name"></errors>
              </div>
              <div class="form-group">
                <input type="text" required class="form-control" id="myTextId" formControlName="companyName" placeholder="Company Name *" maxlength="200" (keypress)="removeSpecialnamechar($event)" />
                <errors [control]="feedbackForm.controls.companyName"></errors>
              </div>
              <div class="form-group">
                <input placeholder="Mobile No. *" maxlength="10" id="myTextId" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" class="form-control" formControlName="mobile" />
                <errors [control]="feedbackForm.controls.mobile"></errors>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="myTextId" formControlName="email" placeholder="Email ID *" (keypress)="removeSpecialemailchar($event)" />
                <errors [control]="feedbackForm.controls.email"></errors>
              </div>
              <div class="form-group">
                <input maxlength="12" placeholder="Landline No." id="myTextId" type="number" class="form-control" formControlName="landlineNumber" (focusout)="Validationforlandline($event.target.value)" />
                <errors [control]="feedbackForm.controls.landlineNumber"></errors>

              </div>
              <div class="form-group">
                <textarea class="form-control" id="myTextId" maxlength="1000" placeholder="Feedback *" rows="2" formControlName="feedback"
                          [ngClass]="{highlight: feedbackForm.controls.feedback.errors}"> </textarea>
                <errors [control]="feedbackForm.controls.feedback"></errors>
              </div>
              <div class="form-group">
                <re-captcha #invisible (resolved)="resolved($event)" formControlName="captcha" siteKey="6Lf8A2cUAAAAAGgMF0eRboCS0VrzTzjNw86jimjP"></re-captcha>
              </div>
              <div class="form-group text-center m-t-10">
                <button class="btn btn-w-shadow no-rd" (click)=submit() tabindex="0" type="submit" [disabled]="!(feedbackForm.valid && btnsts==true)">Submit</button>
                <button type="button" id="myTextId" class="btn btn-w-shadow no-rd m-l-10" aria-label="Close" (click)="closeFeedback()">
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


