<footer id="#contactRojgaar" class="contact-rojgaar" #targetFooter>
  <div class="ft-left-bg">
    <div class="ft-content-wrapper ft-cont-us">
      <p class="ft-header">Contact Us</p>
      <p class="ft-address">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Logix Infotech Park, Ground Floor,<br />
        D 5, Sector 59,<br />
        Noida, UP 201307 - India
      </p>
    </div>
    <ul class="ft-liks">
      <li>
        <a href="javascript:void(0)">Help</a>
      </li>
      <li>
        <a href="javascript:void(0)">Terms &amp; Conditions</a>
      </li>
      <li>
      
        
        <a href="javascript:void(0)" [routerLink]="'/privacy'">Privacy</a>
      </li>
    </ul>
  </div>
  <div class="ft-right-bg">
    <div class="ft-content-wrapper left-70 get-in-touch">
      <p class="ft-header">Get in Touch</p>
      <p class="ft-address">
        <i class="fa fa-phone" aria-hidden="true"></i> +91-120-4786300
      </p>
      <p class="ft-address"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@hstpl.com">info@hstpl.com</a></p>
    </div>
    <ul class="ft-copy-info">
      <li>
        Copyright &copy; 2018 - Hard Shell Technologies Pvt. Ltd.
      </li>
    </ul>
  </div>
  <div class="abs-ft-w-logo">
    <span> <a href="javascrpt:void(0)" title="Hard Shell Technology Private Limited"><img src="/assets/images/hs.png"></a></span>
  </div>
  <div class="footer-logos">
    <ul class="footer-logos-wrapper">
      <li>
        <h3>
          <span>Supported By:</span>
        </h3>
      </li>
      <li>
        <a href="https://nsdcindia.org" target="_blank"><img src="../../../assets/images/skill-india.png" alt="Image" /></a>
      </li>
      <li>
        <a href="https://nsdcindia.org" target="_blank"><img src="../../../assets/images/pm-kvy.png" alt="Image" /></a>
      </li>
      <li>
        <a href="https://nsdcindia.org" target="_blank"><img src="../../../assets/images/nsdc-india.png" alt="Image" /></a>
      </li>

    </ul>
  </div>
</footer>