
      <div class="dash-head">
        <p>Users</p>  <a  [routerLink]="'/AddUser'">
        <button  class="pull-right btn btn-primary">Create User</button></a>
      </div>

      <div class="cleafix"></div>

      <div class="usersWrapper">
          <table class="table table-bordered">
            <thead class="bg-info">
              <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>John</td>
              <td>9911551111</td>
              <td>john@example.com</td>
              <td>11, Tara Apartment, Noida</td>
              </tr>
              <tr>
              <td>John</td>
              <td>9911551111</td>
              <td>john@example.com</td>
              <td>11, Tara Apartment, Noida</td>
              </tr>
            </tbody>
            </table>
          </div>


  <div class="cleafix"></div>



  
