<div class="">
        <a (click)="BackToEventsList()" *ngIf="GoEventlist" href="javascript:void(0)" title="Go BackKK" class="btn btn-w-shadow no-rd pull-right"
        tabindex="0"><i aria-hidden="true" class="fa fa-arrow-left"></i></a>
    </div>
    <!-- <div [ngClass]="EventList=='1'?'show':'hide'"> -->
    
    <!-- List of all created event -->
    
    <div [ngClass]="ListOfEvent==1?'show':'hide'">
      <div class="dash-head">
        <p>Event List</p>
      </div>
      <div class="page-filters">
        <h2>
          <a href="javascript:void(0);">
            <i class="fa fa-filter" aria-hidden="true"></i> Apply Filters
            <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </a>
        </h2>
        <form [formGroup]="EventFilter">
          <div class="filter-wrapper">
            <div class="form-group">
                <div class="col-md-3 col-sm-6">
                    <label>Event Type<span class="mandatory"></span></label>
                
                    <select class="form-control"  formControlName="EvenType">
                        <option value="" selected="selected">--Select--</option>
                        <option *ngFor="let item of eventtype" value="{{item.eventId}}">{{item.eventName}}</option>
                    </select>
                  </div>
              <div class="col-md-3 col-sm-6">
                <label>State<span class="mandatory"></span></label>
             
                <select class="form-control"  formControlName="State" (change)="GetAllDistrict($event)">
                  <option value="" selected>--Select--</option>
                  <option *ngFor="let st of states" value="{{st.id}}">{{st.stateName}}</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-6">
                <label>District<span class="mandatory"></span></label>
               
                <select class="form-control"   formControlName="District">
                  <option value="" selected="selected">--Select--</option>
                  <option *ngFor="let district of district" value="{{district.id}}">{{district.districtName}}</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-3">
                  <label>Search Keywords<span></span></label>
                  <input type="text" formControlName="Search" class="form-control" placeholder="Search" />
                 
    
              </div>
             
              <div class="form-group">
                  <div class="col-md-3 col-sm-6">
                      <label>Start Date</label>
                      <div class="input-group">
                          <input type="text" #validTo="bsDatepicker" placeholder="Select Date" disabled bsDatepicker
                                 [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers:false }"
                                 value=""
                                
                                 class="form-control m-b-0" formControlName="filterstartDate" />
                          <span class="input-group-addon" (click)="validTo.toggle()" [attr.aria-expanded]="validTo.isOpen"><i class="fa fa-calendar"></i></span>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <label>End Date</label>
                      <div class="input-group">
                          <input type="text" #validfrom="bsDatepicker" placeholder="Select Date" disabled bsDatepicker
                                 [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers:false }"
                                 value=""
                               
                                 class="form-control m-b-0" formControlName="filterendDate" />
                          <span class="input-group-addon" (click)="validfrom.toggle()" [attr.aria-expanded]="validfrom.isOpen"><i class="fa fa-calendar"></i></span>
                      </div>
                      
                  </div>
                 
              </div>
            </div>
            <div class="row text-center m-t-5 r-btn-group">
              <button type="reset" class="btn btn-w-shadow no-rd">Reset</button>
              <button type="submit" (click)="GetAllSearchEvent(0,'')" class="btn btn-w-shadow no-rd filter-toggle">Search</button>
            </div>
          </div>
        </form>
      </div>
    
      <div class="col-md-12">
        <div class="all-jobs-list">
          <div class="searchResults">
            <ul class="joblist-wrapper">
              <li class="job-wrapper ps-relative approved" *ngFor="let item of getEventList">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="job-title 1a" title="Vimal">
                        {{
    item.eventName == null?
                                    'NA':(item.eventName.length>24)? (item.eventName | slice:0:24)+'..':(item.eventName)
                        }}
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <strong>Event Type : </strong>{{item.eventType?item.eventType:'NA'}}
                    </div> 
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <strong>Start Date :</strong>{{ item.startDate=='' ?  'NA':item.startDate }}
                    </div>
                    <div class="col-md-6">
                      <strong>End Date : </strong>{{ item.endDate == null ? 'NA':(item.endDate.length>28)? (item.endDate | slice:0:28)+'..':(item.endDate) }}
                    </div>
                  </div>
                </div>
    
                <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <strong>State : </strong>{{ item.stateName=='' ?  'NA':item.stateName }}
                      </div>
                      <div class="col-md-6">
                        <strong>District : </strong>{{ item.districtName=='' ?  'NA':item.districtName }}
                      </div>
                    </div>
                  </div>            
    
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <strong>Venue : </strong>{{ item.address == null ? 'NA':item.address }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="job-list-action card-view-btns">
                    <a class="postit" href="javascript:void(0)" (click)="ViewcandidateList(item)" title="Registered Candidates">Registered Candidates</a>
                  
                  </div>
    
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>
    <div class="cleafix"></div>
    <div  *ngIf="showErrorMessage" class="alert alert-danger col-md-12">
     <strong>{{errormsg}} !</strong>
    </div>
    <!-- End of all created event -->
    
    <!-- View All Event Detail -->
    <div *ngIf="(EventDetails==1)">
        <div class="dash-head">
            <p>Event Details</p>
            <!-- *ngIf="EmployerRegistrationBtn" -->
            <a (click)="BackToEvents()" *ngIf="backToEventDetails" href="javascript:void(0)" title="Go Back" class="btn btn-w-shadow no-rd pull-right m-l-10"
            tabindex="0"><i aria-hidden="true" class="fa fa-arrow-left"></i></a>
            <a href="javascript:void(0)" *ngIf="EmployerRegistrationBtn" class="btn btn-w-shadow no-rd pull-right " (click)="EmployerRegistration(eventid)"> Employer Registration
            </a>
        </div>
        <div class="col-md-12">
          <div class="searchResults">
            <ul class="joblist-wrapper">
              <li class="job-wrapper ps-relative">
                <div class="dash-head dash-head-2 m-b-5">
                  <p>Basic Event Details</p>               
                </div>
                <div>
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                      <h2 class="job-title" style="text-transform:capitalize">
                        {{EventDetail.eventName ? EventDetail.eventName:'NA'  }}
                      </h2>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">Event Type</span>: {{EventDetail.eventType ? EventDetail.eventType:'NA' }}
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">Start Date</span>: {{EventDetail.startDate ? EventDetail.startDate:'NA'}}
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">Start Time</span>: {{EventDetail.startTime ? EventDetail.startTime:'NA'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">End Date</span>: {{EventDetail.endDate ? EventDetail.endDate:'NA'}}
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">End Time</span>: {{EventDetail.endTime ? EventDetail.endTime:'NA'}}
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">Venue</span>: {{EventDetail.address ? EventDetail.address:'NA'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">State</span>: {{EventDetail.stateName ? EventDetail.stateName:'NA' }}
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <span class="text-strong">District</span>: {{EventDetail.districtName ? EventDetail.districtName:'NA'}}
                    </div>
                  </div>
    
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12">
                      <span class="text-strong">Description</span>: {{EventDetail.eventDescription ? EventDetail.eventDescription:'NA'}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 text-right">
                      <a href="javascript:void(0)" class="text-link" (click)="togglediv();">{{texttoggle}}</a>
                    </div>
                  </div>
                  <div *ngIf="toggle">
                    <div class="dash-head dash-head-2">
                      <p>Facilitated By Details</p>
                    </div>
    
                    <div class=" clients-section">
                      <ng-marquee>
                        <!-- <a *ngFor="let FBD of EventDetail.lstEventFacilitated" title="" href="javascript:void(0)" class="marquee-images">
                          <img alt="No image" src="{{FBD.imagePath!=''?FBD.imagePath:'assets/images/NoImage.png'}}" />
                          <br />
                          <span>{{FBD.facilatedBy}}</span>
                        </a> -->
                        <a [href]="FBD.imagePath" *ngFor="let FBD of EventDetail.lstEventFacilitated" download="{{FBD.imagePath}}" class="marquee-images" target="_blank">   
    
                          <img alt="No image" src="{{FBD.imagePath!=''?FBD.imagePath:'assets/images/NoImage.png'}}" />
                          <br />
                          <span>{{FBD.facilatedBy}}</span>
    
                        <!-- </a> -->
                        
                      </a>
    
                      </ng-marquee>
                    </div>
    
                    <div class="dash-head dash-head-2">
                      <p>Uploaded Event Document Details</p>
                    </div>
                    <div class=" clients-section">
                      <ng-marquee>
                        <!-- <a title="" *ngFor="let EventPoster of EventDetail.lstEventPoster" href="javascript:void(0)" class="marquee-images"> -->
                        
    
                          <a [href]="EventPoster.posterImagePath" *ngFor="let EventPoster of EventDetail.lstEventPoster" download="{{EventPoster.posterImagePath}}" class="marquee-images" target="_blank">   
    
                            <img alt="No image" src="{{EventPoster.posterImagePath!=''?EventPoster.posterImagePath:'assets/images/NoImage.png'}}" />
                            <br />
                            <span>{{EventPoster.posterImageName}}</span>
    
                          <!-- </a> -->
                          
                        </a>
                      </ng-marquee>
                    </div>
    
                    <div class="dash-head dash-head-2">
                      <p>Chief Guest Details</p>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6" *ngFor="let chiefGuest of EventDetail.lstEventGuest">
                        <span class="text-strong">Chief Guest Name</span>: {{chiefGuest.guestName}}
                      </div>
                    </div>
    
                    <div class="dash-head dash-head-2">
                      <p>Event Co-Ordinator Detail</p>
                    </div>
                    <div *ngFor="let CoordinateDetail of EventDetail.lstEventCoordinateDetail">
                      <div class="form-group">
                        <div class="col-md-4 col-sm-4">
                          <span class="text-strong">Name</span>: {{CoordinateDetail.name}}
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <span class="text-strong">Designation</span>: {{CoordinateDetail.designation}}
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <span class="text-strong">Department</span>: {{CoordinateDetail.department}}
                        </div>
                      </div>
    
                      <div class="form-group">
                        <div class="col-md-4 col-sm-4">
                          <span class="text-strong">Email</span>: {{CoordinateDetail.email}}
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <span class="text-strong">Mobile</span>: {{CoordinateDetail.mobile}}
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <span class="text-strong">Remark</span>:{{CoordinateDetail.remarks}}
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
               <li>
            </ul>
          </div>
            
        </div>
    </div>
    <!-- End Of View All Event Detail -->
    

    
      <div class="col-md-12" *ngIf="CandidateList">
            <div class="dash-head">
                    <p>Candidate List</p>
                    <!-- <a class="btn btn-w-shadow no-rd pull-right" href="javascript:void(0)" (click)="ExcelExport()">
                        <i class="fa fa-file-excel m-t-2" aria-hidden="true"></i>&nbsp;&nbsp;Export to Excel
                    </a> -->
                  </div>
            <div>
                    <div class="ui-widget-header ui-widget-header-r">
                      <input #gb type="text" pInputText size="100" placeholder="Global Filter">
                    </div>
                      <p-dataTable [value]="EventRegisterCandidate" [loading]="loading" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSort($event)" [globalFilter]="gb" scrollable="true"  scrollHeight="100%" scrollWidth="100%" [style]="{'margin-top':'30px'}">
                          <p-column field="i"  header="S.No" [style]="{'width':'50px'}">
                              <ng-template pTemplate="body" let-i="rowIndex" let-suite>
                                  {{i+1}}
                              </ng-template>
                          </p-column> 
                        <p-column field="candName" header="Candidate Name" [style]="{'width':'100px'}" [sortable]="true"></p-column>
                      
                        <p-column field="email" header="Email" [style]="{'width':'100px'}" [sortable]="true">
                          <ng-template field="email" let-item="rowData" pTemplate type="body">
                             {{item.email ? item.email : 'NA'}}
                          </ng-template>
                         </p-column>
                          
                         <p-column field="mobile" header="Mobile" [style]="{'width':'100px'}" [sortable]="true"></p-column>
    
                         <p-column field="gender" header="Gender" [style]="{'width':'100px'}" [sortable]="true">
                          <ng-template field="dob" let-item="rowData" pTemplate type="body">
                             {{item.gender ? item.gender : 'NA'}}
                          </ng-template>
                         </p-column>
    
                         <p-column field="dob" header="DOB" [style]="{'width':'100px'}" [sortable]="true">
                                <ng-template field="dob" let-item="rowData" pTemplate type="body">
                                  <!-- <span *ngIf="DOB.dob">  {{DOB.dob | date: 'dd/MM/yyyy'}}</span>
                                  <span *ngIf="DOB.dob">  NA</span>
                                  {{DOB.dob | date: 'dd/MM/yyyy'}} -->
                                  {{item.dob}}
                                </ng-template>
                         </p-column>
    
                         <p-column field="stateName" header="State Name" [style]="{'width':'100px'}" [sortable]="true">
                          <ng-template field="stateName" let-item="rowData" pTemplate type="body">
                             {{item.stateName ? item.stateName : 'NA'}}
                          </ng-template>
                         </p-column>
                         
                         <p-column field="districtName" header="District Name" [style]="{'width':'100px'}" [sortable]="true">
                          <ng-template field="districtName" let-item="rowData" pTemplate type="body">
                             {{item.districtName ? item.districtName : 'NA'}}
                          </ng-template>
                         </p-column>       
                                   
                          <p-column field="source" header="Source" [style]="{'width':'100px'}" [sortable]="true"></p-column>
                          <p-column field="offerLetterDate" header="offerLetter Date" [style]="{'width':'100px'}" [sortable]="true">
                            <ng-template field="offerLetterDate" let-item="rowData" pTemplate type="body">
                               <!-- {{item.offerLetterDate | date: 'dd-MM-yyyy'}} -->
                               {{item.offerLetterDate ? item.offerLetterDate :'NA'}} 
                            </ng-template>
                           </p-column> 
                   



                         
                         <p-column header="Offer Letter Upload" [sortable]="true" [style]="{'width':'100px'}">
                            <ng-template pTemplate="body" let-i="rowIndex" let-suite let-item="rowData">    
                                <a   class="pan-view" title="View offer letter" (click)="openOfferLetter(item.candId)"><i
                                  class="fa fa-eye" aria-hidden="true"></i></a>                      
                            </ng-template>
                        </p-column>
                      
                       
      
                      <ng-template pTemplate="paginatorLeft">
                              <button type="button" pButton icon="fa-refresh"></button>
                          </ng-template>
                          <ng-template pTemplate="paginatorRight">
                              <button type="button" pButton icon="fa-cloud-upload"></button>
                          </ng-template>
                      </p-dataTable>
          
                  </div>
          </div>
    

    