
<div class="review-application">   

  <h6 class="review-application-header">Review Application</h6>
  <div class="review-application-wrapper">
    <div class="form-group">
      <div class="col-md-6 col-sm-6">
        <a href="javascript:void(0)" class="review-application-btn">View Job Posted Details</a>
      </div>
      <div class="col-md-6 col-sm-6">
        <a href="javascript:void(0)" class="review-application-btn">View Screening Questions</a>
      </div>

    </div>
    <div class="form-group">
      <div class="review-stats">
        <div>
          <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">Negotiable Questions</div>
            <div class="col-md-1 col-sm-1 col-xs-1">:</div>
            <div class="col-md-3 col-sm-3 col-xs-3">6</div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">Non-Negotiable Questions</div>
            <div class="col-md-1 col-sm-1 col-xs-1">:</div>
            <div class="col-md-3 col-sm-3 col-xs-3">6</div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">Total Questions</div>
            <div class="col-md-1 col-sm-1 col-xs-1">:</div>
            <div class="col-md-3 col-sm-3 col-xs-3">12</div>
          </div>

        </div>
        <div>
          <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">Qualified Application</div>
            <div class="col-md-1 col-sm-1 col-xs-1">:</div>
            <div class="col-md-3 col-sm-3 col-xs-3">6</div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">Non-Qualified Application</div>
            <div class="col-md-1 col-sm-1 col-xs-1">:</div>
            <div class="col-md-3 col-sm-3 col-xs-3">6</div>
          </div>
        </div>

      </div>

    </div>

    <div class="form-group">
      <div class="col-md-1 col-sm-2 col-xs-6"><b>Locations</b></div>
      <div class="col-md-1 col-sm-1 col-xs-1">:</div>
      <div class="col-md-3 col-sm-3 col-xs-5">
        <select class="form-control">
          <option value="">All</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <a class="btn btn-w-shadow no-rd">Additional Filters</a>
      </div>
    </div>
    <div class="review-application-q-category">
      <div class="form-group">
        <div class="col-md-2 col-sm-3">
          <span class="text-strong">Question Category</span>
        </div>
        <div class="col-md-2 col-sm-3">
          <select class="form-control">
            <option value="">All</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-3">
          <span class="text-strong">Preferences</span>
</div>
        <div class="col-md-2 col-sm-3">
          <select class="form-control">
            <option value="">All</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-3">
          <span class="text-strong">Application Category</span>
</div>
        <div class="col-md-2 col-sm-3">
          <select class="form-control">
            <option value="">All</option>
          </select>
        </div>
      </div>
    </div>


    <div class="review-application-c-list">
      <h6>Candidate List :</h6>

    </div>

  </div>
</div>



<div class="clearfix"></div>
